@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:400);
@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:800);

body {
  background-color: hsl(22, 20%, 87%);
  margin: auto;

  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
